*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
    width: 100%;
}

body {
    background-color: #F6A3B7;
    color: white;
    font-family: Futura;
    font-style: normal; 
    font-size: 4vw; 
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.main{
    z-index: 10;
}

.background-waves{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: -1;
}

.blue-waves, .purple-waves, .green-waves{
    position: absolute;
}

.blue-waves{
    top: 10vh;
}

.purple-waves{
    top: 30vh;
}

.green-waves{
    bottom: 0;
}

.bottom-blue{
    width: 100vw;
    height: 40rem;
    background-color: #A3E3F6;
    margin-top: -1vw;
}

.bottom-purple{
    width: 100vw;
    height: 80vh;
    background-color: #BEA3F6;
    margin-top: -1vw;
}

.bottom-green{
    width: 100vw;
    height: 1rem;
    background-color: #B9F6A3;
    margin-top: -1vw;
}

.title {
    font-family: 'Oleo Script', cursive;
    font-size: 10rem;
    text-align: center;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.image {
    display: block;
    width: 70vw;
    margin: 0 auto;
    border: 0.5rem solid white;
    border-radius: 0.5rem;
}

.tip {
    text-align: center;
    margin-top: 3vh;
    font-size: 2.5rem;
}


.button_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.background_button {
    position: absolute;
    width: 20rem;
    height: 2vh;
    margin-top: 2rem;
    background-color: #F6A3B7;
}

.download:hover .background_button {
    background-color: #a75d6e;
}

.download {
    padding: 1rem;
    position: relative;
    width: 25rem;
    border:  0.3rem solid white;
    border-radius: 1rem;
    font-family: futura;
    font-weight: bold;  
    color: white;
    font-size: 3.5rem;
    text-decoration: none;
    text-align: center;
}

.download:hover {
    cursor: pointer;
}

.logo{
    position: relative;
    bottom: auto;
    right: auto;
    margin-bottom: 2rem;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: auto;
}

.footer{
    width: 100vw;
    height: auto;
    position: absolute;
    bottom: 0;
}

.logo {
    position: absolute;
    width: 17rem;
    bottom: 0rem;
    right: 2rem;
}

@media only screen and (max-width: 800px) {
    .title {
        font-size: 13vw;
    }

    .footer{
        width: 100vw;
        height: auto;
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo {
        position: relative;
        right: auto;
        width: 17vw;
    }

    .tip {
        font-size: 3.5vw;
    }
}

@media only screen and (max-width: 650px) {
    .background_button {
        width: 30vw;
        height: 3vw;
        margin-top: 3vw;
    }

    .download {
        font-size: 5vw;
        width: 40vw;
    }
}